.image {
  width: 100%;
  margin: 1rem;
  p {
    text-align: center;
    display: block;
    margin-bottom: 0.3rem;
  }
  img {
    height: 15rem;
    border-radius: 0.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .image {
    margin: 0;
  }
}
